<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToDoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <ToDoClient.Properties.Settings>
            <setting name="UserGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ToDoClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToDoServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51125/ToDoServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IToDoServer" contract="Server.IToDoServer"
                name="BasicHttpBinding_IToDoServer" />
        </client>
    </system.serviceModel>
</configuration>